<%- include('./partials/head') %>

<main>
    <section>
    <% sdgs.forEach(function (sdg){ %>
        <img src="https://fdnd-agency.directus.app/assets/<%=sdg.icon%> alt=" class="clickable-image">
      <% }) %>
    </section>
</main>

<form action="/SDG" method="post">
    <button type="submit" id="back-button" class="vragenlijst-btn">Back</button>
  </form>
<%- include('./partials/foot') %>