<%- include('./partials/head') %>

<main>
    <section>
    <% sdgs.forEach(function (sdg){ %>
        <img src="https://fdnd-agency.directus.app/assets/<%=sdg.icon%> alt=" class="clickable-image">
      <% }) %>
    </section>
</main>


<%- include('./partials/foot') %>