<%- include('./partials/head') %>

<article class="temp">
  <p>
  Hier komt dus de rest van de home page, denk aan een korte introductie met
  sign up etc en een button dat verwijst naar een soort tutorial, hier krijgen
  we schermen waarbij je stap voor stap alles kan invullen en uitleg krijgt over
  wat je invult en waarom. Vervolgens bij optie 1 kunnen we een overview geven
  over het bedrijf, bij optie 2 de calculator en bij optie 3 de contact pagina?
</p>
</article>


<%- include('./partials/foot') %>