<%- include('./partials/head') %>
<main>
<h1>Welkom bij de Crossmarx handprint/Footprint calculator!</h1>
<h2>Log met je bedrijf hieronder in</h2>


<form class="login" action="/bedrijf" method="post">

  <label for="username">Bedrijfsnaam:</label>
  <input type="text" id="username" name="username">
 
  <label for="password">Wachtwoord:</label>
  <input type="password" id="password" name="password">
  
  <input type="submit" value="Log in">
</form>
</main>
<%- include('./partials/foot') %>