<%- include('./partials/head') %>
<main>
<h1>Welkom bij de Crossmarx handprint/Footprint calculator!</h1>
<h2>Log met je bedrijf hieronder in</h2>


<form class="login" action="/login" method="post">
  <label for="username">Username:</label><br>
  <input type="text" id="username" name="username"><br>
  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password"><br>
  <input type="submit" value="Submit">
</form>
</main>
<%- include('./partials/foot') %>